.action-button {
    border-width: 0;
    border-radius: 12px;
    padding: 8px;
    margin: 4px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    background-color: #1e7e34;
    font-weight: bold;
    color: white;
}

#category-actions {
    display: flex;
    margin-bottom: 30px;
}

.middle-vertical-axis {
    margin-top: 30px;
    align-self: center;
}

.category-directory {
    height: 3rem;
    margin: 10px 0;
}
